.navbar {
   z-index: 1;
   background-color: #ffffff;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
}

// pc
@media (min-width: 64em) {
}

// Tablet
@media (min-width: 46.25em) and (max-width: 63.9375em) {
}

// Mobile and Tablet
@media (max-width: 63.9375em) {
}

// Mobile
@media (max-width: 46.1875em) {
}
